.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding-bottom: 0em;
    padding-top: 0em;
  }
}
.freeBox___5GdT {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___5GdT {
    width: 100%;
    background: var(--token-mbSDidA6Cmcg7y);
    min-width: 0;
  }
}
.freeBox___1LZo3 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  plasmic-display-none: false;
  min-width: 0;
  padding: 64px;
}
.freeBox___1LZo3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___1LZo3 > :global(.__wab_flex-container) > *,
.freeBox___1LZo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1LZo3 > :global(.__wab_flex-container) > picture > img,
.freeBox___1LZo3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___1LZo3 {
    width: 100%;
    min-width: 0;
    display: none;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___1LZo3 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground9 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground9 > :global(.__wab_flex-container) > *,
.foreground9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground9 > :global(.__wab_flex-container) > picture > img,
.foreground9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground9 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.text__jRnwt {
  height: auto;
  font-size: 38px;
  font-weight: 700;
  color: var(--token-NE0ck_XdPheiz);
  line-height: 1;
  font-family: "Karla", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__vxjcR {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  margin-right: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__vxjcR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vxjcR > :global(.__wab_flex-container) > *,
.freeBox__vxjcR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vxjcR > :global(.__wab_flex-container) > picture > img,
.freeBox__vxjcR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__clCRf {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__bsyDy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img__bsyDy > picture > img {
  object-fit: cover;
}
.img__bsyDy > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__vTxTr {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__bMvAl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__zXQr {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__zXQr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__zXQr > :global(.__wab_flex-container) > *,
.freeBox__zXQr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zXQr > :global(.__wab_flex-container) > picture > img,
.freeBox__zXQr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__arvIu {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___9LFt8 {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__ohOb1 {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  margin-bottom: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__ohOb1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ohOb1 > :global(.__wab_flex-container) > *,
.freeBox__ohOb1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ohOb1 > :global(.__wab_flex-container) > picture > img,
.freeBox__ohOb1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__l0Q4U {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__gbBVh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img__gbBVh > picture > img {
  object-fit: cover;
}
.img__gbBVh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pLwoj {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__ynOgj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__j0QHc {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__j0QHc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__j0QHc > :global(.__wab_flex-container) > *,
.freeBox__j0QHc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j0QHc > :global(.__wab_flex-container) > picture > img,
.freeBox__j0QHc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__eRv3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-ElCnG4YLa9ZfHW);
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__qC600 {
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__x72QB {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  margin-left: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__x72QB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__x72QB > :global(.__wab_flex-container) > *,
.freeBox__x72QB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x72QB > :global(.__wab_flex-container) > picture > img,
.freeBox__x72QB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__aCsuT {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__sy24P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 60px;
}
.img__sy24P > picture > img {
  object-fit: cover;
}
.img__sy24P > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__eDsFs {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__yxdJe {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__hPptT {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__hPptT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hPptT > :global(.__wab_flex-container) > *,
.freeBox__hPptT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hPptT > :global(.__wab_flex-container) > picture > img,
.freeBox__hPptT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__zQwMd {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sKzsW {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___6AdQr {
  flex-direction: column;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 64px;
}
.freeBox___6AdQr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___6AdQr > :global(.__wab_flex-container) > *,
.freeBox___6AdQr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6AdQr > :global(.__wab_flex-container) > picture > img,
.freeBox___6AdQr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6AdQr {
    width: 100%;
    min-width: 0;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6AdQr > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground8 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  align-self: center;
}
.foreground8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground8 > :global(.__wab_flex-container) > *,
.foreground8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground8 > :global(.__wab_flex-container) > picture > img,
.foreground8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ogexb {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__ogexb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ogexb > :global(.__wab_flex-container) > *,
.freeBox__ogexb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ogexb > :global(.__wab_flex-container) > picture > img,
.freeBox__ogexb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__wFdEj {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__szqbg {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__szqbg > picture > img {
  object-fit: cover;
}
.img__szqbg > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yjCwb {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__b0VBj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___4It5X {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___4It5X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4It5X > :global(.__wab_flex-container) > *,
.freeBox___4It5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4It5X > :global(.__wab_flex-container) > picture > img,
.freeBox___4It5X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__ejE0M {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___1PdSn {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__sxtlc {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__sxtlc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sxtlc > :global(.__wab_flex-container) > *,
.freeBox__sxtlc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxtlc > :global(.__wab_flex-container) > picture > img,
.freeBox__sxtlc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___4Oa6A {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__zeND {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__zeND > picture > img {
  object-fit: cover;
}
.img__zeND > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__j2DqK {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___3ScM4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___5Cge7 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___5Cge7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___5Cge7 > :global(.__wab_flex-container) > *,
.freeBox___5Cge7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Cge7 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Cge7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___20LG {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mdfVe {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__h48L8 {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__h48L8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__h48L8 > :global(.__wab_flex-container) > *,
.freeBox__h48L8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h48L8 > :global(.__wab_flex-container) > picture > img,
.freeBox__h48L8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__aBn64 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__acden {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__acden > picture > img {
  object-fit: cover;
}
.img__acden > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__t80T {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__oEqFi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__f27Pt {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__f27Pt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__f27Pt > :global(.__wab_flex-container) > *,
.freeBox__f27Pt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f27Pt > :global(.__wab_flex-container) > picture > img,
.freeBox__f27Pt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__lalVg {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___6XdMw {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.section {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 32px 46px;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__hnOx {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__hnOx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hnOx > :global(.__wab_flex-container) > *,
.freeBox__hnOx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hnOx > :global(.__wab_flex-container) > picture > img,
.freeBox__hnOx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__nGsgt {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nGsgt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__nGsgt > :global(.__wab_flex-container) > *,
.freeBox__nGsgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGsgt > :global(.__wab_flex-container) > picture > img,
.freeBox__nGsgt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nGsgt {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nGsgt > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nGsgt > :global(.__wab_flex-container) > *,
  .freeBox__nGsgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nGsgt > :global(.__wab_flex-container) > picture > img,
  .freeBox__nGsgt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 0px;
  }
}
.freeBox__da1Pu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__da1Pu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__da1Pu > :global(.__wab_flex-container) > *,
.freeBox__da1Pu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__da1Pu > :global(.__wab_flex-container) > picture > img,
.freeBox__da1Pu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__ai7Qy {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__ggcOt {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__dpJx {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__dpJx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__dpJx > :global(.__wab_flex-container) > *,
.freeBox__dpJx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dpJx > :global(.__wab_flex-container) > picture > img,
.freeBox__dpJx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__j2YA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__j2YA > picture > img {
  object-fit: cover;
}
.img__j2YA > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__pumPx {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__da4Bs {
  color: var(--token-FsK72wsBLneXW9);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rrpPn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rrpPn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rrpPn > :global(.__wab_flex-container) > *,
.freeBox__rrpPn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrpPn > :global(.__wab_flex-container) > picture > img,
.freeBox__rrpPn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__tfViw {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___39NtD {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__dHvTk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__dHvTk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__dHvTk > :global(.__wab_flex-container) > *,
.freeBox__dHvTk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dHvTk > :global(.__wab_flex-container) > picture > img,
.freeBox__dHvTk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__kK1De {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 223px;
  flex-shrink: 0;
}
.img__kK1De > picture > img {
  object-fit: cover;
}
.img__kK1De > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__kK1De {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__kK1De > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__kK1De > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text___64SYs {
  color: #ffffffd9;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__muRpo {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hTxnv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__hTxnv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hTxnv > :global(.__wab_flex-container) > *,
.freeBox__hTxnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hTxnv > :global(.__wab_flex-container) > picture > img,
.freeBox__hTxnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox___7Ypfk {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__mAk3B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lbcK5 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 238px;
  width: 100%;
  min-width: 0;
}
.freeBox__lbcK5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lbcK5 > :global(.__wab_flex-container) > *,
.freeBox__lbcK5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lbcK5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lbcK5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__jxCjT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 222px;
  flex-shrink: 0;
}
.img__jxCjT > picture > img {
  object-fit: cover;
}
.img__jxCjT > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__bGOj {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.text___24Qo {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.blogPosts:global(.__wab_instance) {
  width: 100%;
  height: 830px;
  max-width: 2500px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blogPosts:global(.__wab_instance) {
    height: 1772px;
    flex-shrink: 0;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__bvUU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__bvUU {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__jr9Ho {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  background: var(--token-AwwUkJpmaZJz1i);
  width: 1200px;
  padding: 59px 0px 63px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jr9Ho {
    padding: 23px 0px 55px;
  }
}
.link__saoyW {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.text__uOTl7 {
  width: 100%;
  height: auto;
  max-width: 1217px;
  font-size: 25px;
  padding-bottom: 22px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__jzmIf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 820px;
  align-self: flex-start;
  padding-top: 25px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.h6__elE65 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.freeBox__bWqMc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.h6__aG6Za {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.link__lsgOh {
  align-self: flex-start;
  display: flex;
}
.text___8Hpnz {
  text-align: left;
  height: auto;
}
.cantFindWhatYoureLookingFor:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(0px + 0px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer:global(.__wab_instance) {
    margin-top: calc(31px + 0px) !important;
    height: 814px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.img__tJiUu {
  object-fit: cover;
  display: none !important;
}
.img__tJiUu > picture > img {
  object-fit: cover;
}
.img__tJiUu > .__wab_img-spacer > img {
  object-fit: cover;
}
