.root {
  flex-direction: row;
  background: var(--token-riptZgTAEk7yrC);
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 16px 150px;
  border-bottom: 1px solid var(--token-Khb8JChK8xRDPz);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    height: 128px;
    padding: 23px 13px 10px 14px;
  }
}
.freeBox__hVb63 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1280px;
  background: none;
  margin-right: 0px;
  min-width: 0;
}
.freeBox__hVb63 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hVb63 > :global(.__wab_flex-container) > *,
.freeBox__hVb63 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hVb63 > :global(.__wab_flex-container) > picture > img,
.freeBox__hVb63
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hVb63 {
    display: flex;
    flex-direction: column;
    height: 44px;
    padding-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hVb63 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hVb63 > :global(.__wab_flex-container) > *,
  .freeBox__hVb63 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hVb63 > :global(.__wab_flex-container) > picture > img,
  .freeBox__hVb63
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__yUdu0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 158px;
  margin-right: 0px;
  align-self: center;
  flex-shrink: 0;
}
.img__yUdu0 > picture > img {
  object-fit: cover;
}
.img__yUdu0 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__yUdu0 {
    margin-right: 0px;
    object-fit: contain;
    height: 31px;
    align-self: flex-start;
    width: 153px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__yUdu0 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__yUdu0 > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.freeBox__aaFlV {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__aaFlV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aaFlV > :global(.__wab_flex-container) > *,
.freeBox__aaFlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aaFlV > :global(.__wab_flex-container) > picture > img,
.freeBox__aaFlV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aaFlV > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aaFlV > :global(.__wab_flex-container) > *,
  .freeBox__aaFlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aaFlV > :global(.__wab_flex-container) > picture > img,
  .freeBox__aaFlV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link___1Yb3F {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___1Yb3F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___1Yb3F > :global(.__wab_flex-container) > *,
.link___1Yb3F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___1Yb3F > :global(.__wab_flex-container) > picture > img,
.link___1Yb3F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___1Yb3F {
    display: none;
  }
}
.svg___9YsGw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__e24Ow {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__e24Ow > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__e24Ow > :global(.__wab_flex-container) > *,
.link__e24Ow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__e24Ow > :global(.__wab_flex-container) > picture > img,
.link__e24Ow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__e24Ow {
    display: none;
  }
}
.svg__lySc9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__wIpso {
  display: flex;
}
.link__grTcL {
  display: flex;
}
.h1__w4LQs {
  font-weight: 700;
  color: var(--token-AwwUkJpmaZJz1i);
  font-size: 16px;
  line-height: 26px;
  height: auto;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__w4LQs {
    display: none;
  }
}
.svg__bvXyx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__dx1A {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  margin-right: 4px;
  border-radius: 6px;
  padding: 10px 16px 10px 3px;
  border: 1px solid transparent;
}
.link__dx1A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__dx1A > :global(.__wab_flex-container) > *,
.link__dx1A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__dx1A > :global(.__wab_flex-container) > picture > img,
.link__dx1A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__dx1A {
    display: none;
  }
}
.svg__bF6O1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__v50Ej {
  display: flex;
}
.link__jEvhW {
  display: flex;
}
.h1__ewNpI {
  font-weight: 700;
  color: var(--token-AwwUkJpmaZJz1i);
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__ewNpI {
    display: none;
  }
}
.svg__v7Fc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__aR8J {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  margin-right: 9px;
  border-radius: 6px;
  padding: 10px 16px 10px 3px;
  border: 1px solid transparent;
}
.link__aR8J > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__aR8J > :global(.__wab_flex-container) > *,
.link__aR8J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__aR8J > :global(.__wab_flex-container) > picture > img,
.link__aR8J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__aR8J {
    display: none;
  }
}
.svg___1Bgc3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mmsxd {
  display: flex;
}
.link__rRxek {
  display: flex;
}
.h1__ne999 {
  font-weight: 700;
  color: var(--token-AwwUkJpmaZJz1i);
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__ne999 {
    display: none;
  }
}
.svg__jrFni {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__x9KM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  width: 144px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .button:global(.__wab_instance) {
    display: none;
  }
}
.svg__indn1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.h6 {
  font-weight: 500;
}
.img__kwcjC {
  position: relative;
  plasmic-display-none: true;
  object-fit: contain;
  max-width: 100%;
  width: 39px;
  margin-right: 8px;
  height: 28px;
  margin-top: 2px;
  margin-bottom: 15px;
  flex-shrink: 0;
}
.img__kwcjC > picture > img {
  object-fit: contain;
}
.img__kwcjC > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__kwcjC {
    display: inline-block !important;
  }
}
