.root:global(.__wab_instance) {
  width: 111.46%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  background: var(--token-riptZgTAEk7yrC);
  position: relative;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root:global(.__wab_instance) {
    display: flex;
  }
}
.link__paOZv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__mGAv {
  object-fit: contain;
  height: 40px;
  margin-left: 24px;
  align-self: flex-start;
  margin-top: 0px;
}
.img__mGAv > picture > img {
  object-fit: contain;
}
.img__mGAv > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__mGAv {
    margin-left: 16px;
    align-self: center;
    width: auto;
    margin-top: 0px;
  }
}
.img__n7Uj {
  object-fit: cover;
}
.img__n7Uj > picture > img {
  object-fit: cover;
}
.img__n7Uj > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__n7Uj {
    display: none !important;
  }
}
.img__pbNh {
  position: relative;
  plasmic-display-none: true;
  object-fit: contain;
  max-width: 100%;
  width: 39px;
  margin-right: 8px;
  height: 28px;
  margin-top: 2px;
  margin-bottom: 15px;
}
.img__pbNh > picture > img {
  object-fit: contain;
}
.img__pbNh > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__pbNh {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    width: 39px;
    margin-right: 8px;
    height: 28px;
    margin-top: 2px;
    margin-bottom: 0px;
    display: inline-block !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__pbNh > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__pbNh > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__q0G0E {
  position: relative;
  plasmic-display-none: true;
  object-fit: contain;
  max-width: 100%;
  width: 39px;
  margin-right: 8px;
  height: 28px;
  margin-top: 2px;
  margin-bottom: 15px;
}
.img__q0G0E > picture > img {
  object-fit: contain;
}
.img__q0G0E > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__q0G0E {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    width: 39px;
    margin-right: 8px;
    height: 28px;
    margin-top: 2px;
    margin-bottom: 0px;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__q0G0E > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__q0G0E > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__pzKpJ {
  object-fit: cover;
}
.img__pzKpJ > picture > img {
  object-fit: cover;
}
.img__pzKpJ > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__pzKpJ {
    display: none !important;
  }
}
.img__ml5Zn {
  position: relative;
  plasmic-display-none: true;
  object-fit: contain;
  max-width: 100%;
  width: 39px;
  margin-right: 8px;
  height: 28px;
  margin-top: 2px;
  margin-bottom: 15px;
}
.img__ml5Zn > picture > img {
  object-fit: contain;
}
.img__ml5Zn > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__ml5Zn {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    width: 39px;
    margin-right: 8px;
    height: 28px;
    margin-top: 2px;
    margin-bottom: 0px;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__ml5Zn > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__ml5Zn > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.svg {
  position: relative;
  plasmic-display-none: true;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AwwUkJpmaZJz1i);
  width: 39px;
  height: 28px;
  margin-right: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg {
    display: block;
  }
}
.link__keVLx {
  position: relative;
  margin-right: 20px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__keVLx {
    margin-left: 15px;
  }
}
.h5__klP7T {
  width: auto;
  height: 23px;
  max-width: 800px;
  color: var(--token-AwwUkJpmaZJz1i);
  align-self: center;
  margin-top: 0px;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__klP7T {
    max-width: 375px;
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.link___24Qp1 {
  align-self: center;
  margin-top: 0px;
  display: flex;
}
.h5__rOhhe {
  width: auto;
  height: 23px;
  max-width: 800px;
  color: var(--token-AwwUkJpmaZJz1i);
  font-size: 18px;
  padding-left: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__rOhhe {
    max-width: 375px;
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.link__m7Hix {
  align-self: center;
  margin-top: 0px;
  display: flex;
}
.h5__eNyVi {
  width: auto;
  height: 23px;
  max-width: 800px;
  color: var(--token-AwwUkJpmaZJz1i);
  font-size: 18px;
  padding-left: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__eNyVi {
    max-width: 375px;
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.link__mfNan {
  align-self: center;
  margin-top: 0px;
  display: flex;
}
.h5__qkWbg {
  width: auto;
  height: 23px;
  max-width: 800px;
  color: var(--token-AwwUkJpmaZJz1i);
  font-size: 18px;
  padding-left: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__qkWbg {
    max-width: 375px;
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.h5__pmAgE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 20px;
  color: var(--token-AwwUkJpmaZJz1i);
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__pmAgE {
    height: 32px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-bottom: 0px;
  }
}
.h5__yuqso {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 20px;
  color: var(--token-AwwUkJpmaZJz1i);
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__yuqso {
    height: 32px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-bottom: 0px;
  }
}
.h5__toTbv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 20px;
  color: var(--token-AwwUkJpmaZJz1i);
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__toTbv {
    height: 595px;
    padding-bottom: 502px;
    padding-left: 15px;
    margin-bottom: 0px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 19px;
  align-self: center;
  margin-bottom: 0px;
  height: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .button:global(.__wab_instance) {
    margin-right: 0px;
    align-self: flex-start;
    display: none;
  }
}
.svg__hv7JL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__dqvO {
  font-size: 18px;
  color: var(--token-AwwUkJpmaZJz1i);
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__dqvO {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__rQmSa {
    display: none;
  }
}
