.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding-bottom: 0em;
    padding-top: 0em;
  }
}
.freeBox___0MQ8 {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0MQ8 {
    width: 100%;
    background: var(--token-mbSDidA6Cmcg7y);
    min-width: 0;
  }
}
.freeBox__uzFmu {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  plasmic-display-none: false;
  min-width: 0;
  padding: 64px;
}
.freeBox__uzFmu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__uzFmu > :global(.__wab_flex-container) > *,
.freeBox__uzFmu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uzFmu > :global(.__wab_flex-container) > picture > img,
.freeBox__uzFmu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__uzFmu {
    width: 100%;
    min-width: 0;
    display: none;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__uzFmu > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground9 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground9 > :global(.__wab_flex-container) > *,
.foreground9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground9 > :global(.__wab_flex-container) > picture > img,
.foreground9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground9 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.text__bOtzP {
  height: auto;
  font-size: 38px;
  font-weight: 700;
  color: var(--token-NE0ck_XdPheiz);
  line-height: 1;
  font-family: "Karla", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__nevn {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  margin-right: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__nevn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nevn > :global(.__wab_flex-container) > *,
.freeBox__nevn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nevn > :global(.__wab_flex-container) > picture > img,
.freeBox__nevn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__zNdW8 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__lQfkT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img__lQfkT > picture > img {
  object-fit: cover;
}
.img__lQfkT > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uzD2R {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__kk2E {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__g8Lqc {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__g8Lqc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__g8Lqc > :global(.__wab_flex-container) > *,
.freeBox__g8Lqc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g8Lqc > :global(.__wab_flex-container) > picture > img,
.freeBox__g8Lqc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__qrYOj {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sUzlz {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__jjOz {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  margin-bottom: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__jjOz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jjOz > :global(.__wab_flex-container) > *,
.freeBox__jjOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jjOz > :global(.__wab_flex-container) > picture > img,
.freeBox__jjOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___5WE {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__ekqZf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img__ekqZf > picture > img {
  object-fit: cover;
}
.img__ekqZf > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__cptAe {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___4Sesq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__wsPNb {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__wsPNb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wsPNb > :global(.__wab_flex-container) > *,
.freeBox__wsPNb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wsPNb > :global(.__wab_flex-container) > picture > img,
.freeBox__wsPNb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__sfUct {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-ElCnG4YLa9ZfHW);
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__llJx9 {
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__uoTo {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  margin-left: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__uoTo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__uoTo > :global(.__wab_flex-container) > *,
.freeBox__uoTo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uoTo > :global(.__wab_flex-container) > picture > img,
.freeBox__uoTo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__taZNc {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img___0QCjy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 60px;
}
.img___0QCjy > picture > img {
  object-fit: cover;
}
.img___0QCjy > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__f8Elv {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__tzaGs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__jkVei {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jkVei > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jkVei > :global(.__wab_flex-container) > *,
.freeBox__jkVei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jkVei > :global(.__wab_flex-container) > picture > img,
.freeBox__jkVei
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__u2Qg {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vpK {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__qAKeh {
  flex-direction: column;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 64px;
}
.freeBox__qAKeh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qAKeh > :global(.__wab_flex-container) > *,
.freeBox__qAKeh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qAKeh > :global(.__wab_flex-container) > picture > img,
.freeBox__qAKeh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__qAKeh {
    width: 100%;
    min-width: 0;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__qAKeh > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground8 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  align-self: center;
}
.foreground8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground8 > :global(.__wab_flex-container) > *,
.foreground8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground8 > :global(.__wab_flex-container) > picture > img,
.foreground8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___6I69R {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox___6I69R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6I69R > :global(.__wab_flex-container) > *,
.freeBox___6I69R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6I69R > :global(.__wab_flex-container) > picture > img,
.freeBox___6I69R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__j0Ou0 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__gJuuX {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__gJuuX > picture > img {
  object-fit: cover;
}
.img__gJuuX > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yakKh {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__fy2H {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__dq8Ce {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__dq8Ce > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__dq8Ce > :global(.__wab_flex-container) > *,
.freeBox__dq8Ce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dq8Ce > :global(.__wab_flex-container) > picture > img,
.freeBox__dq8Ce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bxWAq {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ljspu {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox___5NAz {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox___5NAz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5NAz > :global(.__wab_flex-container) > *,
.freeBox___5NAz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5NAz > :global(.__wab_flex-container) > picture > img,
.freeBox___5NAz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__iDdvw {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__naxDi {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__naxDi > picture > img {
  object-fit: cover;
}
.img__naxDi > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__wt2Jy {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__xbWsM {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cz3Ke {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__cz3Ke > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cz3Ke > :global(.__wab_flex-container) > *,
.freeBox__cz3Ke > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cz3Ke > :global(.__wab_flex-container) > picture > img,
.freeBox__cz3Ke
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__kygHt {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__c6Hu1 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__qyWl2 {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__qyWl2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qyWl2 > :global(.__wab_flex-container) > *,
.freeBox__qyWl2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qyWl2 > :global(.__wab_flex-container) > picture > img,
.freeBox__qyWl2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__m8ACg {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__ozijf {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__ozijf > picture > img {
  object-fit: cover;
}
.img__ozijf > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__dqGm7 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__qbxFn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nH5Xd {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__nH5Xd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nH5Xd > :global(.__wab_flex-container) > *,
.freeBox__nH5Xd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nH5Xd > :global(.__wab_flex-container) > picture > img,
.freeBox__nH5Xd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__ubEJq {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__juWg {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.section {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 32px 46px;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__k8QzI {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__k8QzI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__k8QzI > :global(.__wab_flex-container) > *,
.freeBox__k8QzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k8QzI > :global(.__wab_flex-container) > picture > img,
.freeBox__k8QzI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__dgDEy {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__dgDEy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__dgDEy > :global(.__wab_flex-container) > *,
.freeBox__dgDEy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dgDEy > :global(.__wab_flex-container) > picture > img,
.freeBox__dgDEy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dgDEy {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dgDEy > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dgDEy > :global(.__wab_flex-container) > *,
  .freeBox__dgDEy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dgDEy > :global(.__wab_flex-container) > picture > img,
  .freeBox__dgDEy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 0px;
  }
}
.freeBox___0O6A6 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___0O6A6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0O6A6 > :global(.__wab_flex-container) > *,
.freeBox___0O6A6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0O6A6 > :global(.__wab_flex-container) > picture > img,
.freeBox___0O6A6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox___1Xf1L {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__u7MbL {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___1ZbU {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___1ZbU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1ZbU > :global(.__wab_flex-container) > *,
.freeBox___1ZbU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1ZbU > :global(.__wab_flex-container) > picture > img,
.freeBox___1ZbU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__iKPvc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__iKPvc > picture > img {
  object-fit: cover;
}
.img__iKPvc > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__p6W6 {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sJatc {
  color: var(--token-FsK72wsBLneXW9);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__f9Yiy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__f9Yiy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__f9Yiy > :global(.__wab_flex-container) > *,
.freeBox__f9Yiy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f9Yiy > :global(.__wab_flex-container) > picture > img,
.freeBox__f9Yiy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__bo33F {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__hmpIc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ee44H {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ee44H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ee44H > :global(.__wab_flex-container) > *,
.freeBox__ee44H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ee44H > :global(.__wab_flex-container) > picture > img,
.freeBox__ee44H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__ndaFn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 223px;
  flex-shrink: 0;
}
.img__ndaFn > picture > img {
  object-fit: cover;
}
.img__ndaFn > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__ndaFn {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__ndaFn > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__ndaFn > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text__jrEcJ {
  color: #ffffffd9;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__feq9B {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___18L9Q {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___18L9Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___18L9Q > :global(.__wab_flex-container) > *,
.freeBox___18L9Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___18L9Q > :global(.__wab_flex-container) > picture > img,
.freeBox___18L9Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__n1TT {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__kuStZ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__hLZb {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 238px;
  width: 100%;
  min-width: 0;
}
.freeBox__hLZb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hLZb > :global(.__wab_flex-container) > *,
.freeBox__hLZb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hLZb > :global(.__wab_flex-container) > picture > img,
.freeBox__hLZb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__jkk3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 222px;
  flex-shrink: 0;
}
.img__jkk3 > picture > img {
  object-fit: cover;
}
.img__jkk3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__hOwYo {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.text__gzhOb {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.blogPosts:global(.__wab_instance) {
  width: 100%;
  height: 830px;
  max-width: 2500px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blogPosts:global(.__wab_instance) {
    height: 1772px;
    flex-shrink: 0;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cv71C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cv71C {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox___4Xe0A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  background: var(--token-AwwUkJpmaZJz1i);
  width: 1200px;
  padding: 59px 0px 63px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4Xe0A {
    padding: 23px 0px 55px;
  }
}
.link___4T9Qk {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.text__y6KQw {
  width: 100%;
  height: auto;
  max-width: 1217px;
  font-size: 25px;
  padding-bottom: 22px;
  min-width: 0;
}
.freeBox__uFk4F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 820px;
  align-self: flex-start;
  padding-top: 25px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.h6__kzz0P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.freeBox__q9CoZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.h6__qltpn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.link__bg {
  align-self: flex-start;
  display: flex;
}
.text__k2N53 {
  text-align: left;
  height: auto;
}
.cantFindWhatYoureLookingFor:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(0px + 0px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer:global(.__wab_instance) {
    margin-top: calc(31px + 0px) !important;
    height: 814px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.img__fg5KL {
  object-fit: cover;
  display: none !important;
}
.img__fg5KL > picture > img {
  object-fit: cover;
}
.img__fg5KL > .__wab_img-spacer > img {
  object-fit: cover;
}
