.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-AwwUkJpmaZJz1i);
  position: relative;
  min-width: 0;
  padding: 0em 0px;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0em 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zVpGh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-FsK72wsBLneXW9);
  min-width: 0;
  padding: 42px 30px 39px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__zVpGh {
    padding-top: 39px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 1200px;
  text-align: left;
  font-family: "Karla", sans-serif;
  padding-bottom: 38px;
  font-size: 24px;
  padding-top: 0px;
  padding-left: 12px;
  margin-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    width: 100%;
    height: auto;
    max-width: 360px;
    text-align: left;
    font-family: "Karla", sans-serif;
    padding-bottom: 33px;
    padding-top: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.columns__yocWc {
  display: flex;
  position: relative;
  width: 104.79%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__yocWc > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__yocWc > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__yocWc > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yocWc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yocWc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__o41Oy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__o41Oy {
    padding-bottom: 25px;
  }
}
.link__bqUmc {
  position: relative;
  display: flex;
}
.img__o9U7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__o9U7 > picture > img {
  object-fit: cover;
}
.img__o9U7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___8Xw7Z {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns___8Xw7Z > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8Xw7Z {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8Xw7Z > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zGde {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__zoVmj {
  position: relative;
  display: flex;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__zoVmj {
    align-self: flex-start;
  }
}
.h4__r9YgS {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-mbSDidA6Cmcg7y);
  font-size: var(--token-XnLTGmNcaejskF);
  padding-top: 14px;
  align-self: flex-start;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__r9YgS {
    font-size: 20px;
  }
}
.text__fHUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-NlsodmpKNHdOGv);
  font-size: var(--token-USqccnZi3F1kIL);
  font-family: "Karla", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  min-width: 0;
}
.text__whX17 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 15px;
}
.link__fuio {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
}
.button__slafk:global(.__wab_instance) {
  max-width: 100%;
  width: 107px;
  align-self: flex-start;
  flex-shrink: 0;
}
.svg__lo9Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gaqb0 {
  font-size: 13px;
  color: var(--token-AwwUkJpmaZJz1i);
}
.column__mdCdZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__mdCdZ {
    padding-bottom: 25px;
  }
}
.httpsexplorefountainfmblogpodcasterGetStarted {
  position: relative;
  margin-bottom: 0px;
  display: flex;
}
.img__b8Upo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__b8Upo > picture > img {
  object-fit: cover;
}
.img__b8Upo > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__jXiGx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__jXiGx > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jXiGx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jXiGx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sPze2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__pwrek {
  position: relative;
  display: flex;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__pwrek {
    align-self: flex-start;
  }
}
.h4__uvu0W {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-mbSDidA6Cmcg7y);
  font-size: var(--token-XnLTGmNcaejskF);
  padding-top: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__uvu0W {
    font-size: 20px;
    text-align: left;
    align-self: flex-start;
  }
}
.text__kan3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-NlsodmpKNHdOGv);
  font-size: var(--token-USqccnZi3F1kIL);
  font-family: "Karla", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  min-width: 0;
}
.text__ym7Fa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 15px;
}
.link__stsQs {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
}
.button__pQvk2:global(.__wab_instance) {
  max-width: 100%;
  width: 30px;
  align-self: flex-start;
  flex-shrink: 0;
}
.svg___4GQf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__v89B4 {
  font-size: 13px;
  color: var(--token-AwwUkJpmaZJz1i);
}
.column__tcIKv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__tcIKv {
    padding-bottom: 0px;
  }
}
.link__jPpdo {
  position: relative;
  margin-top: 0px;
  display: flex;
}
.img___1WcwW {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___1WcwW > picture > img {
  object-fit: cover;
}
.img___1WcwW > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__y1Sm1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__y1Sm1 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__y1Sm1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__y1Sm1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tWhyW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__x9Z9 {
  position: relative;
  display: flex;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__x9Z9 {
    align-self: flex-start;
  }
}
.h4__ovW5 {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-mbSDidA6Cmcg7y);
  font-size: var(--token-XnLTGmNcaejskF);
  padding-top: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__ovW5 {
    font-size: 20px;
  }
}
.text__aq4Rz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-NlsodmpKNHdOGv);
  font-size: var(--token-USqccnZi3F1kIL);
  font-family: "Karla", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  min-width: 0;
}
.text__qnwsD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 15px;
}
.link___1WVag {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
}
.button__ogezP:global(.__wab_instance) {
  max-width: 100%;
  width: 27px;
  flex-shrink: 0;
}
.svg__k4Zke {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bAecx {
  font-size: 13px;
  color: var(--token-AwwUkJpmaZJz1i);
}
.link__mxqmB {
  margin-top: 35px;
  display: flex;
}
.button__h2DL:global(.__wab_instance) {
  max-width: none;
  width: 184px;
  margin-top: 17px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .button__h2DL:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__xF8I9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
