.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding-bottom: 0em;
    padding-top: 0em;
  }
}
.freeBox__mgbjk {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mgbjk {
    width: 100%;
    background: var(--token-mbSDidA6Cmcg7y);
    min-width: 0;
  }
}
.freeBox___5XmDe {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  plasmic-display-none: false;
  min-width: 0;
  padding: 64px;
}
.freeBox___5XmDe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5XmDe > :global(.__wab_flex-container) > *,
.freeBox___5XmDe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5XmDe > :global(.__wab_flex-container) > picture > img,
.freeBox___5XmDe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___5XmDe {
    width: 100%;
    min-width: 0;
    display: none;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___5XmDe > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground9 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground9 > :global(.__wab_flex-container) > *,
.foreground9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground9 > :global(.__wab_flex-container) > picture > img,
.foreground9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground9 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.text__dZs55 {
  height: auto;
  font-size: 38px;
  font-weight: 700;
  color: var(--token-NE0ck_XdPheiz);
  line-height: 1;
  font-family: "Karla", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ibObu {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  margin-right: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__ibObu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ibObu > :global(.__wab_flex-container) > *,
.freeBox__ibObu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ibObu > :global(.__wab_flex-container) > picture > img,
.freeBox__ibObu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__dKbPb {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img___0M2Xh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img___0M2Xh > picture > img {
  object-fit: cover;
}
.img___0M2Xh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__iRzDa {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__oTCso {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nkJf0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__nkJf0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nkJf0 > :global(.__wab_flex-container) > *,
.freeBox__nkJf0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nkJf0 > :global(.__wab_flex-container) > picture > img,
.freeBox__nkJf0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__j8CPo {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__uatv {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__fcYk {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  margin-bottom: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__fcYk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fcYk > :global(.__wab_flex-container) > *,
.freeBox__fcYk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fcYk > :global(.__wab_flex-container) > picture > img,
.freeBox__fcYk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__pICyY {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img___9Ev2N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img___9Ev2N > picture > img {
  object-fit: cover;
}
.img___9Ev2N > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__wrCTu {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__uNiiJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___3G7Mq {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___3G7Mq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3G7Mq > :global(.__wab_flex-container) > *,
.freeBox___3G7Mq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3G7Mq > :global(.__wab_flex-container) > picture > img,
.freeBox___3G7Mq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___5Vmq7 {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-ElCnG4YLa9ZfHW);
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ik7Gn {
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__bhIpk {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  margin-left: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__bhIpk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bhIpk > :global(.__wab_flex-container) > *,
.freeBox__bhIpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bhIpk > :global(.__wab_flex-container) > picture > img,
.freeBox__bhIpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__qHpmL {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__r0YoR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 60px;
}
.img__r0YoR > picture > img {
  object-fit: cover;
}
.img__r0YoR > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___4UBk {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___781Q5 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__gNuHp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gNuHp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gNuHp > :global(.__wab_flex-container) > *,
.freeBox__gNuHp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gNuHp > :global(.__wab_flex-container) > picture > img,
.freeBox__gNuHp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__ls21L {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4XwcX {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___0MHmT {
  flex-direction: column;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 64px;
}
.freeBox___0MHmT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___0MHmT > :global(.__wab_flex-container) > *,
.freeBox___0MHmT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0MHmT > :global(.__wab_flex-container) > picture > img,
.freeBox___0MHmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0MHmT {
    width: 100%;
    min-width: 0;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0MHmT > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground8 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  align-self: center;
}
.foreground8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground8 > :global(.__wab_flex-container) > *,
.foreground8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground8 > :global(.__wab_flex-container) > picture > img,
.foreground8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__fvqd6 {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__fvqd6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fvqd6 > :global(.__wab_flex-container) > *,
.freeBox__fvqd6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvqd6 > :global(.__wab_flex-container) > picture > img,
.freeBox__fvqd6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__eyCPr {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img___3EVte {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img___3EVte > picture > img {
  object-fit: cover;
}
.img___3EVte > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__nAHam {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___7SufJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__rxwxC {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__rxwxC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rxwxC > :global(.__wab_flex-container) > *,
.freeBox__rxwxC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rxwxC > :global(.__wab_flex-container) > picture > img,
.freeBox__rxwxC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__lSqJ {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__p4T3B {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__dzVfd {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__dzVfd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dzVfd > :global(.__wab_flex-container) > *,
.freeBox__dzVfd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dzVfd > :global(.__wab_flex-container) > picture > img,
.freeBox__dzVfd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__n1LAs {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__qUhYk {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__qUhYk > picture > img {
  object-fit: cover;
}
.img__qUhYk > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__z1WSc {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___8ITEs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ma8Cx {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ma8Cx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ma8Cx > :global(.__wab_flex-container) > *,
.freeBox__ma8Cx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ma8Cx > :global(.__wab_flex-container) > picture > img,
.freeBox__ma8Cx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__v8Gr {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___0GeZw {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__jdPGz {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__jdPGz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jdPGz > :global(.__wab_flex-container) > *,
.freeBox__jdPGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jdPGz > :global(.__wab_flex-container) > picture > img,
.freeBox__jdPGz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__yxLtY {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__xxgNi {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__xxgNi > picture > img {
  object-fit: cover;
}
.img__xxgNi > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___9Aumz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___4XpL0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___7OLgu {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___7OLgu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___7OLgu > :global(.__wab_flex-container) > *,
.freeBox___7OLgu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OLgu > :global(.__wab_flex-container) > picture > img,
.freeBox___7OLgu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__l8Gam {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__uPxAs {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.section {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 32px 46px;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___0VV6 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox___0VV6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___0VV6 > :global(.__wab_flex-container) > *,
.freeBox___0VV6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0VV6 > :global(.__wab_flex-container) > picture > img,
.freeBox___0VV6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__zryz6 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zryz6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__zryz6 > :global(.__wab_flex-container) > *,
.freeBox__zryz6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zryz6 > :global(.__wab_flex-container) > picture > img,
.freeBox__zryz6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zryz6 {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zryz6 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zryz6 > :global(.__wab_flex-container) > *,
  .freeBox__zryz6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zryz6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__zryz6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 0px;
  }
}
.freeBox__byl3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__byl3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__byl3 > :global(.__wab_flex-container) > *,
.freeBox__byl3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__byl3 > :global(.__wab_flex-container) > picture > img,
.freeBox__byl3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox___6FPe {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__kPrO3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__qtBml {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__qtBml > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qtBml > :global(.__wab_flex-container) > *,
.freeBox__qtBml > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qtBml > :global(.__wab_flex-container) > picture > img,
.freeBox__qtBml
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__vtHw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vtHw > picture > img {
  object-fit: cover;
}
.img__vtHw > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__hfWxi {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___9IsMz {
  color: var(--token-FsK72wsBLneXW9);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__bF9Sy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__bF9Sy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bF9Sy > :global(.__wab_flex-container) > *,
.freeBox__bF9Sy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bF9Sy > :global(.__wab_flex-container) > picture > img,
.freeBox__bF9Sy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__erNgl {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__loAbB {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___68Qk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___68Qk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___68Qk > :global(.__wab_flex-container) > *,
.freeBox___68Qk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___68Qk > :global(.__wab_flex-container) > picture > img,
.freeBox___68Qk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__chjDq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 223px;
  flex-shrink: 0;
}
.img__chjDq > picture > img {
  object-fit: cover;
}
.img__chjDq > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__chjDq {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__chjDq > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__chjDq > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text__ySYef {
  color: #ffffffd9;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xEVn9 {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__mLefe {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mLefe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mLefe > :global(.__wab_flex-container) > *,
.freeBox__mLefe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mLefe > :global(.__wab_flex-container) > picture > img,
.freeBox__mLefe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__p3T1 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___3P6 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__rbIp7 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 238px;
  width: 100%;
  min-width: 0;
}
.freeBox__rbIp7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rbIp7 > :global(.__wab_flex-container) > *,
.freeBox__rbIp7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rbIp7 > :global(.__wab_flex-container) > picture > img,
.freeBox__rbIp7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img___6SVel {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 222px;
  flex-shrink: 0;
}
.img___6SVel > picture > img {
  object-fit: cover;
}
.img___6SVel > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__z3Dmp {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.text__wB4P {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.blogPosts:global(.__wab_instance) {
  width: 100%;
  height: 830px;
  max-width: 2500px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blogPosts:global(.__wab_instance) {
    height: 1772px;
    flex-shrink: 0;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___0EcGb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0EcGb {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__cotYu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  background: var(--token-AwwUkJpmaZJz1i);
  width: 1200px;
  padding: 59px 0px 63px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cotYu {
    padding: 23px 0px 55px;
  }
}
.link__z2R42 {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.text__dRxbJ {
  width: 100%;
  height: auto;
  max-width: 1217px;
  font-size: 25px;
  padding-bottom: 22px;
  min-width: 0;
}
.freeBox__nMdlx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 820px;
  align-self: flex-start;
  padding-top: 25px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.h6__wvupv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.freeBox__ijpUg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.h6__sp9Sc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.link__hZDc {
  align-self: flex-start;
  display: flex;
}
.text__lvbtr {
  text-align: left;
  height: auto;
}
.cantFindWhatYoureLookingFor:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(0px + 0px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer:global(.__wab_instance) {
    margin-top: calc(31px + 0px) !important;
    height: 814px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.img__hh9J {
  object-fit: cover;
  display: none !important;
}
.img__hh9J > picture > img {
  object-fit: cover;
}
.img__hh9J > .__wab_img-spacer > img {
  object-fit: cover;
}
