.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.root > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 20px) * 6 / 12);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.column__biTf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__vXO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vXO > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vXO > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vXO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vXO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dlJnh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___4SAod {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___4SAod > picture > img {
  object-fit: cover;
}
.img___4SAod > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__yAKrS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__gSgR7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___0KVco {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4__spFp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__spFp {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__edlKk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__dMa0C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___9TxAk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bYrs5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns___9K6Vb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___9K6Vb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___9K6Vb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9K6Vb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9K6Vb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mzxuD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__amXuL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__amXuL > picture > img {
  object-fit: cover;
}
.img__amXuL > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___6Prel {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__pSKH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___7QEI {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4___2YuUn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___2YuUn {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__r2FZp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__wVnfF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lemiW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__sL5Pl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__vfSdE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vfSdE > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vfSdE > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vfSdE {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vfSdE > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__q79KT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__bjcla {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bjcla > picture > img {
  object-fit: cover;
}
.img__bjcla > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__cG4Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__qxtp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hcgkA {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4__uuZp6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__uuZp6 {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__gQmv0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__oObMv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__k9Jav {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fIkc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__gO2NY {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__gO2NY > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__gO2NY > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gO2NY {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gO2NY > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qGa9K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__iWd2P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__iWd2P > picture > img {
  object-fit: cover;
}
.img__iWd2P > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__exIwv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.text__x3WHk {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.freeBox__mcnRl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__hunFt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__hunFt {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__yIuLw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__wm72S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nNzOf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bI7EG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns___8HGsa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___8HGsa > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___8HGsa > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8HGsa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8HGsa > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__koZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__of6Xz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__of6Xz > picture > img {
  object-fit: cover;
}
.img__of6Xz > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__bjkVh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__ly91W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.text__zBncc {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4___5ZIhM {
  position: relative;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___5ZIhM {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__ulbrh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__ziIuT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2IE3I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__sGUmd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns___0Wu7U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___0Wu7U > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___0Wu7U > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0Wu7U {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0Wu7U > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aermn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__qR3A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qR3A > picture > img {
  object-fit: cover;
}
.img__qR3A > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__y27ZS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__int4D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___831Ns {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4__bfGWc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  padding-left: 0px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__bfGWc {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__dJjfO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button___1F98B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4ZtDj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___0Gwuf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__kXuha {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kXuha > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__kXuha > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kXuha {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kXuha > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nJcEd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__hrpc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hrpc > picture > img {
  object-fit: cover;
}
.img__hrpc > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___70HkE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__jA2Vm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jExm4 {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4__w9E9Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__w9E9Y {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__kp1JX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__eL6P5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cndrz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__kb3U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__zq8Qd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zq8Qd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__zq8Qd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zq8Qd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zq8Qd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1VmfB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__zjFaT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zjFaT > picture > img {
  object-fit: cover;
}
.img__zjFaT > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__h6UnP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__gQw8H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___9Tsbo {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Khb8JChK8xRDPz);
  font-size: 19px;
  min-width: 0;
}
.h4___39GH0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___39GH0 {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___39Pl5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__xepwi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xhnFf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
