.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding-bottom: 0em;
    padding-top: 0em;
  }
}
.freeBox__vkW1 {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__vkW1 {
    width: 100%;
    background: var(--token-mbSDidA6Cmcg7y);
    min-width: 0;
  }
}
.freeBox__nRO9 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  plasmic-display-none: false;
  min-width: 0;
  padding: 64px;
}
.freeBox__nRO9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nRO9 > :global(.__wab_flex-container) > *,
.freeBox__nRO9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nRO9 > :global(.__wab_flex-container) > picture > img,
.freeBox__nRO9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nRO9 {
    width: 100%;
    min-width: 0;
    display: none;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nRO9 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground9 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground9 > :global(.__wab_flex-container) > *,
.foreground9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground9 > :global(.__wab_flex-container) > picture > img,
.foreground9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground9 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.text__fSShL {
  height: auto;
  font-size: 38px;
  font-weight: 700;
  color: var(--token-NE0ck_XdPheiz);
  line-height: 1;
  font-family: "Karla", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___5SeSe {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  margin-right: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox___5SeSe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5SeSe > :global(.__wab_flex-container) > *,
.freeBox___5SeSe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5SeSe > :global(.__wab_flex-container) > picture > img,
.freeBox___5SeSe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__bPJa {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__gn9Dm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img__gn9Dm > picture > img {
  object-fit: cover;
}
.img__gn9Dm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pox8J {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___3GqKq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__mgvcv {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__mgvcv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mgvcv > :global(.__wab_flex-container) > *,
.freeBox__mgvcv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mgvcv > :global(.__wab_flex-container) > picture > img,
.freeBox__mgvcv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__cfTg9 {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__v5IZy {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox___3Zsmi {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  margin-bottom: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox___3Zsmi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___3Zsmi > :global(.__wab_flex-container) > *,
.freeBox___3Zsmi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Zsmi > :global(.__wab_flex-container) > picture > img,
.freeBox___3Zsmi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___57Nz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__toKsS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 60px;
}
.img__toKsS > picture > img {
  object-fit: cover;
}
.img__toKsS > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__hzboj {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__rKb7U {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___397LS {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___397LS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___397LS > :global(.__wab_flex-container) > *,
.freeBox___397LS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___397LS > :global(.__wab_flex-container) > picture > img,
.freeBox___397LS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___42ZCg {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-ElCnG4YLa9ZfHW);
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__q003W {
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox___4EaRj {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  margin-left: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox___4EaRj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___4EaRj > :global(.__wab_flex-container) > *,
.freeBox___4EaRj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4EaRj > :global(.__wab_flex-container) > picture > img,
.freeBox___4EaRj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__bZyB {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__ddEZn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 60px;
}
.img__ddEZn > picture > img {
  object-fit: cover;
}
.img__ddEZn > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__szQzJ {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__wu3Q {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__yUcEp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__yUcEp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yUcEp > :global(.__wab_flex-container) > *,
.freeBox__yUcEp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yUcEp > :global(.__wab_flex-container) > picture > img,
.freeBox__yUcEp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___3IyB2 {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__wfbxk {
  height: auto;
  color: #05050599;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yZMm {
  flex-direction: column;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  display: none;
  padding: 64px;
}
.freeBox__yZMm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yZMm > :global(.__wab_flex-container) > *,
.freeBox__yZMm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yZMm > :global(.__wab_flex-container) > picture > img,
.freeBox__yZMm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yZMm {
    width: 100%;
    min-width: 0;
    padding: 49px 32px 67px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yZMm > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground8 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  align-self: center;
}
.foreground8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground8 > :global(.__wab_flex-container) > *,
.foreground8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground8 > :global(.__wab_flex-container) > picture > img,
.foreground8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___2AU6P {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  align-self: center;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox___2AU6P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2AU6P > :global(.__wab_flex-container) > *,
.freeBox___2AU6P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2AU6P > :global(.__wab_flex-container) > picture > img,
.freeBox___2AU6P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__hl947 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__f1Sr9 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__f1Sr9 > picture > img {
  object-fit: cover;
}
.img__f1Sr9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___3Lxyv {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___6U8Im {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ehEfI {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ehEfI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ehEfI > :global(.__wab_flex-container) > *,
.freeBox__ehEfI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehEfI > :global(.__wab_flex-container) > picture > img,
.freeBox__ehEfI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___5ZxUv {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__binKw {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__pijyA {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  max-width: 853px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__pijyA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pijyA > :global(.__wab_flex-container) > *,
.freeBox__pijyA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pijyA > :global(.__wab_flex-container) > picture > img,
.freeBox__pijyA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__zzYn8 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img__tNkXr {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img__tNkXr > picture > img {
  object-fit: cover;
}
.img__tNkXr > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__e8Akr {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__i2GqB {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ycZFk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ycZFk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ycZFk > :global(.__wab_flex-container) > *,
.freeBox__ycZFk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycZFk > :global(.__wab_flex-container) > picture > img,
.freeBox__ycZFk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__q305X {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hgn9N {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
.freeBox__juk9E {
  flex-direction: row;
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 1px 1px #0000001a;
  min-width: 0;
  border-radius: 16px;
  padding: 24px 24px 24px 16px;
}
.freeBox__juk9E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__juk9E > :global(.__wab_flex-container) > *,
.freeBox__juk9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__juk9E > :global(.__wab_flex-container) > picture > img,
.freeBox__juk9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__xj7Bk {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.img___5FQf8 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.img___5FQf8 > picture > img {
  object-fit: cover;
}
.img___5FQf8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ljnA6 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__ynS0J {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lxlG1 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__lxlG1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lxlG1 > :global(.__wab_flex-container) > *,
.freeBox__lxlG1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lxlG1 > :global(.__wab_flex-container) > picture > img,
.freeBox__lxlG1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bdHVc {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4ARpa {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.section {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-NlsodmpKNHdOGv);
  width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 32px 46px;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__mg4E0 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__mg4E0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mg4E0 > :global(.__wab_flex-container) > *,
.freeBox__mg4E0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mg4E0 > :global(.__wab_flex-container) > picture > img,
.freeBox__mg4E0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__zQvpR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zQvpR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__zQvpR > :global(.__wab_flex-container) > *,
.freeBox__zQvpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zQvpR > :global(.__wab_flex-container) > picture > img,
.freeBox__zQvpR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zQvpR {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zQvpR > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zQvpR > :global(.__wab_flex-container) > *,
  .freeBox__zQvpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zQvpR > :global(.__wab_flex-container) > picture > img,
  .freeBox__zQvpR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 0px;
  }
}
.freeBox__bdn8A {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__bdn8A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bdn8A > :global(.__wab_flex-container) > *,
.freeBox__bdn8A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdn8A > :global(.__wab_flex-container) > picture > img,
.freeBox__bdn8A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__m44Dl {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__zkz2B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__kli4I {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kli4I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kli4I > :global(.__wab_flex-container) > *,
.freeBox__kli4I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kli4I > :global(.__wab_flex-container) > picture > img,
.freeBox__kli4I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img___0BvGc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___0BvGc > picture > img {
  object-fit: cover;
}
.img___0BvGc > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__sqy8K {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__wCot {
  color: var(--token-FsK72wsBLneXW9);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___1UZtY {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___1UZtY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1UZtY > :global(.__wab_flex-container) > *,
.freeBox___1UZtY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1UZtY > :global(.__wab_flex-container) > picture > img,
.freeBox___1UZtY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox___5HzpG {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__ieOow {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__wCin {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__wCin > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wCin > :global(.__wab_flex-container) > *,
.freeBox__wCin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wCin > :global(.__wab_flex-container) > picture > img,
.freeBox__wCin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__cFbdz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 223px;
  flex-shrink: 0;
}
.img__cFbdz > picture > img {
  object-fit: cover;
}
.img__cFbdz > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cFbdz {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cFbdz > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cFbdz > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text__hmdLa {
  color: #ffffffd9;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__md8R {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__k3V8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__k3V8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__k3V8 > :global(.__wab_flex-container) > *,
.freeBox__k3V8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k3V8 > :global(.__wab_flex-container) > picture > img,
.freeBox__k3V8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 8px;
}
.freeBox__ik8Bd {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__goP3M {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__niy2Q {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 238px;
  width: 100%;
  min-width: 0;
}
.freeBox__niy2Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__niy2Q > :global(.__wab_flex-container) > *,
.freeBox__niy2Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__niy2Q > :global(.__wab_flex-container) > picture > img,
.freeBox__niy2Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.img__zGf3E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 222px;
  flex-shrink: 0;
}
.img__zGf3E > picture > img {
  object-fit: cover;
}
.img__zGf3E > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__jw4Cv {
  color: var(--token-AwwUkJpmaZJz1i);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.text__jpqUr {
  color: var(--token-AwwUkJpmaZJz1i);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.blogPosts:global(.__wab_instance) {
  width: 100%;
  height: 830px;
  max-width: 2500px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blogPosts:global(.__wab_instance) {
    height: 1772px;
    flex-shrink: 0;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ritda {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ritda {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox__yQyvA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  background: var(--token-AwwUkJpmaZJz1i);
  width: 1200px;
  padding: 59px 0px 63px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yQyvA {
    padding: 23px 0px 55px;
  }
}
.link__oreks {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.text__bz5Zc {
  width: 100%;
  height: auto;
  max-width: 1217px;
  font-size: 25px;
  padding-bottom: 22px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___4S3A9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 820px;
  align-self: flex-start;
  padding-top: 25px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.h6___2K5Da {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.freeBox__rR06S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.h6___84Mp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 829px;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 0px;
  min-width: 0;
  border-top: 1px solid var(--token-1jrQwUe8Nor0ct);
}
.link__dZlyw {
  align-self: flex-start;
  display: flex;
}
.text___6CxAy {
  text-align: left;
  height: auto;
}
.cantFindWhatYoureLookingFor:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(0px + 0px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer:global(.__wab_instance) {
    margin-top: calc(31px + 0px) !important;
    height: 814px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.img___74M7M {
  object-fit: cover;
  display: none !important;
}
.img___74M7M > picture > img {
  object-fit: cover;
}
.img___74M7M > .__wab_img-spacer > img {
  object-fit: cover;
}
