@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Karla%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-trasZRvx7D60Z: #ffffff;
  --plasmic-token-white: var(--token-trasZRvx7D60Z);
  --token-NE0ck_XdPheiz: #000000eb;
  --plasmic-token-sky-blue: var(--token-NE0ck_XdPheiz);
  --token-mcE7ggTHG: Karla;
  --plasmic-token-unnamed-style-token: var(--token-mcE7ggTHG);
  --token-OQ_N04EeS: 1px;
  --plasmic-token-unnamed-style-token-2: var(--token-OQ_N04EeS);
}

.plasmic_default_styles {
  --mixin-6N2AWN9ODhFH8_font-family: "Poppins";
  --mixin-6N2AWN9ODhFH8_font-size: 16px;
  --mixin-6N2AWN9ODhFH8_font-weight: 400;
  --mixin-6N2AWN9ODhFH8_font-style: normal;
  --mixin-6N2AWN9ODhFH8_color: #535353;
  --mixin-6N2AWN9ODhFH8_text-align: left;
  --mixin-6N2AWN9ODhFH8_text-transform: none;
  --mixin-6N2AWN9ODhFH8_line-height: 1.6;
  --mixin-6N2AWN9ODhFH8_letter-spacing: normal;
  --mixin-6N2AWN9ODhFH8_white-space: pre-wrap;
  --mixin-6N2AWN9ODhFH8_user-select: text;
  --mixin-6N2AWN9ODhFH8_text-decoration-line: none;
  --mixin-6N2AWN9ODhFH8_text-overflow: clip;
  --mixin-2aTCcZU74I8c5_color: var(--token-trasZRvx7D60Z);
  --mixin-2aTCcZU74I8c5_font-weight: 500;
  --mixin-2aTCcZU74I8c5_font-size: 45px;
  --mixin-2aTCcZU74I8c5_line-height: 1;
  --mixin-2aTCcZU74I8c5_letter-spacing: normal;
  --mixin-2aTCcZU74I8c5_font-family: "Montserrat";
  --mixin-2aTCcZU74I8c5_text-align: center;
  --mixin-IYdEJO4pZErg1_color: var(--token-NE0ck_XdPheiz);
  --mixin-IYdEJO4pZErg1_font-weight: 700;
  --mixin-IYdEJO4pZErg1_font-size: 30px;
  --mixin-IYdEJO4pZErg1_line-height: 1.1;
  --mixin-IYdEJO4pZErg1_letter-spacing: 0px;
  --mixin-IYdEJO4pZErg1_font-family: "Montserrat";
  --mixin-DvL4pabnXeotS_color: #3291ff;
  --mixin-3tuDfG533rMdC_color: #000000;
  --mixin-3tuDfG533rMdC_font-weight: 600;
  --mixin-3tuDfG533rMdC_font-size: 28px;
  --mixin-3tuDfG533rMdC_line-height: 1.2;
  --mixin-3tuDfG533rMdC_letter-spacing: 0px;
  --mixin-3tuDfG533rMdC_font-family: "Montserrat";
  --mixin--tdEBmh4abgV__color: #000000;
  --mixin--tdEBmh4abgV__font-weight: 600;
  --mixin--tdEBmh4abgV__font-size: 24px;
  --mixin--tdEBmh4abgV__line-height: 1.3;
  --mixin--tdEBmh4abgV__letter-spacing: -0.5px;
  --mixin-o1dga8jM6ae5N_font-family: "Inconsolata";
  --mixin-o1dga8jM6ae5N_padding-top: 1px;
  --mixin-o1dga8jM6ae5N_padding-right: 4px;
  --mixin-o1dga8jM6ae5N_padding-bottom: 1px;
  --mixin-o1dga8jM6ae5N_padding-left: 4px;
  --mixin-o1dga8jM6ae5N_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-o1dga8jM6ae5N_border-top-color: #dddddd;
  --mixin-o1dga8jM6ae5N_border-top-width: 1px;
  --mixin-o1dga8jM6ae5N_border-top-style: solid;
  --mixin-o1dga8jM6ae5N_border-right-color: #dddddd;
  --mixin-o1dga8jM6ae5N_border-right-width: 1px;
  --mixin-o1dga8jM6ae5N_border-right-style: solid;
  --mixin-o1dga8jM6ae5N_border-bottom-color: #dddddd;
  --mixin-o1dga8jM6ae5N_border-bottom-width: 1px;
  --mixin-o1dga8jM6ae5N_border-bottom-style: solid;
  --mixin-o1dga8jM6ae5N_border-left-color: #dddddd;
  --mixin-o1dga8jM6ae5N_border-left-width: 1px;
  --mixin-o1dga8jM6ae5N_border-left-style: solid;
  --mixin-o1dga8jM6ae5N_border-top-left-radius: 3px;
  --mixin-o1dga8jM6ae5N_border-top-right-radius: 3px;
  --mixin-o1dga8jM6ae5N_border-bottom-right-radius: 3px;
  --mixin-o1dga8jM6ae5N_border-bottom-left-radius: 3px;
  --mixin-jAcDphanSalUK_color: #888888;
  --mixin-jAcDphanSalUK_padding-left: 10px;
  --mixin-jAcDphanSalUK_border-left-width: 3px;
  --mixin-jAcDphanSalUK_border-left-style: solid;
  --mixin-jAcDphanSalUK_border-left-color: #dddddd;
  --mixin-og0ueuObXuF9N_padding-top: 3px;
  --mixin-og0ueuObXuF9N_padding-right: 6px;
  --mixin-og0ueuObXuF9N_padding-bottom: 3px;
  --mixin-og0ueuObXuF9N_padding-left: 6px;
  --mixin-og0ueuObXuF9N_font-family: "Inconsolata";
  --mixin-og0ueuObXuF9N_border-top-left-radius: 3px;
  --mixin-og0ueuObXuF9N_border-top-right-radius: 3px;
  --mixin-og0ueuObXuF9N_border-bottom-right-radius: 3px;
  --mixin-og0ueuObXuF9N_border-bottom-left-radius: 3px;
  --mixin-og0ueuObXuF9N_border-top-color: #dddddd;
  --mixin-og0ueuObXuF9N_border-top-width: 1px;
  --mixin-og0ueuObXuF9N_border-top-style: solid;
  --mixin-og0ueuObXuF9N_border-right-color: #dddddd;
  --mixin-og0ueuObXuF9N_border-right-width: 1px;
  --mixin-og0ueuObXuF9N_border-right-style: solid;
  --mixin-og0ueuObXuF9N_border-bottom-color: #dddddd;
  --mixin-og0ueuObXuF9N_border-bottom-width: 1px;
  --mixin-og0ueuObXuF9N_border-bottom-style: solid;
  --mixin-og0ueuObXuF9N_border-left-color: #dddddd;
  --mixin-og0ueuObXuF9N_border-left-width: 1px;
  --mixin-og0ueuObXuF9N_border-left-style: solid;
  --mixin-og0ueuObXuF9N_background: linear-gradient(#f8f8f8, #f8f8f8);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-6N2AWN9ODhFH8_font-family);
  font-size: var(--mixin-6N2AWN9ODhFH8_font-size);
  font-weight: var(--mixin-6N2AWN9ODhFH8_font-weight);
  font-style: var(--mixin-6N2AWN9ODhFH8_font-style);
  color: var(--mixin-6N2AWN9ODhFH8_color);
  text-align: var(--mixin-6N2AWN9ODhFH8_text-align);
  text-transform: var(--mixin-6N2AWN9ODhFH8_text-transform);
  line-height: var(--mixin-6N2AWN9ODhFH8_line-height);
  letter-spacing: var(--mixin-6N2AWN9ODhFH8_letter-spacing);
  white-space: var(--mixin-6N2AWN9ODhFH8_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-2aTCcZU74I8c5_color);
  font-weight: var(--mixin-2aTCcZU74I8c5_font-weight);
  font-size: var(--mixin-2aTCcZU74I8c5_font-size);
  line-height: var(--mixin-2aTCcZU74I8c5_line-height);
  letter-spacing: var(--mixin-2aTCcZU74I8c5_letter-spacing);
  font-family: var(--mixin-2aTCcZU74I8c5_font-family);
  text-align: var(--mixin-2aTCcZU74I8c5_text-align);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-IYdEJO4pZErg1_color);
  font-weight: var(--mixin-IYdEJO4pZErg1_font-weight);
  font-size: var(--mixin-IYdEJO4pZErg1_font-size);
  line-height: var(--mixin-IYdEJO4pZErg1_line-height);
  letter-spacing: var(--mixin-IYdEJO4pZErg1_letter-spacing);
  font-family: var(--mixin-IYdEJO4pZErg1_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-DvL4pabnXeotS_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-3tuDfG533rMdC_color);
  font-weight: var(--mixin-3tuDfG533rMdC_font-weight);
  font-size: var(--mixin-3tuDfG533rMdC_font-size);
  line-height: var(--mixin-3tuDfG533rMdC_line-height);
  letter-spacing: var(--mixin-3tuDfG533rMdC_letter-spacing);
  font-family: var(--mixin-3tuDfG533rMdC_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin--tdEBmh4abgV__color);
  font-weight: var(--mixin--tdEBmh4abgV__font-weight);
  font-size: var(--mixin--tdEBmh4abgV__font-size);
  line-height: var(--mixin--tdEBmh4abgV__line-height);
  letter-spacing: var(--mixin--tdEBmh4abgV__letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-o1dga8jM6ae5N_font-family);
  background: var(--mixin-o1dga8jM6ae5N_background);
  border-radius: var(--mixin-o1dga8jM6ae5N_border-top-left-radius)
    var(--mixin-o1dga8jM6ae5N_border-top-right-radius)
    var(--mixin-o1dga8jM6ae5N_border-bottom-right-radius)
    var(--mixin-o1dga8jM6ae5N_border-bottom-left-radius);
  padding: var(--mixin-o1dga8jM6ae5N_padding-top)
    var(--mixin-o1dga8jM6ae5N_padding-right)
    var(--mixin-o1dga8jM6ae5N_padding-bottom)
    var(--mixin-o1dga8jM6ae5N_padding-left);
  border-top: var(--mixin-o1dga8jM6ae5N_border-top-width)
    var(--mixin-o1dga8jM6ae5N_border-top-style)
    var(--mixin-o1dga8jM6ae5N_border-top-color);
  border-right: var(--mixin-o1dga8jM6ae5N_border-right-width)
    var(--mixin-o1dga8jM6ae5N_border-right-style)
    var(--mixin-o1dga8jM6ae5N_border-right-color);
  border-bottom: var(--mixin-o1dga8jM6ae5N_border-bottom-width)
    var(--mixin-o1dga8jM6ae5N_border-bottom-style)
    var(--mixin-o1dga8jM6ae5N_border-bottom-color);
  border-left: var(--mixin-o1dga8jM6ae5N_border-left-width)
    var(--mixin-o1dga8jM6ae5N_border-left-style)
    var(--mixin-o1dga8jM6ae5N_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-jAcDphanSalUK_color);
  padding-left: var(--mixin-jAcDphanSalUK_padding-left);
  border-left: var(--mixin-jAcDphanSalUK_border-left-width)
    var(--mixin-jAcDphanSalUK_border-left-style)
    var(--mixin-jAcDphanSalUK_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-og0ueuObXuF9N_font-family);
  background: var(--mixin-og0ueuObXuF9N_background);
  border-radius: var(--mixin-og0ueuObXuF9N_border-top-left-radius)
    var(--mixin-og0ueuObXuF9N_border-top-right-radius)
    var(--mixin-og0ueuObXuF9N_border-bottom-right-radius)
    var(--mixin-og0ueuObXuF9N_border-bottom-left-radius);
  padding: var(--mixin-og0ueuObXuF9N_padding-top)
    var(--mixin-og0ueuObXuF9N_padding-right)
    var(--mixin-og0ueuObXuF9N_padding-bottom)
    var(--mixin-og0ueuObXuF9N_padding-left);
  border-top: var(--mixin-og0ueuObXuF9N_border-top-width)
    var(--mixin-og0ueuObXuF9N_border-top-style)
    var(--mixin-og0ueuObXuF9N_border-top-color);
  border-right: var(--mixin-og0ueuObXuF9N_border-right-width)
    var(--mixin-og0ueuObXuF9N_border-right-style)
    var(--mixin-og0ueuObXuF9N_border-right-color);
  border-bottom: var(--mixin-og0ueuObXuF9N_border-bottom-width)
    var(--mixin-og0ueuObXuF9N_border-bottom-style)
    var(--mixin-og0ueuObXuF9N_border-bottom-color);
  border-left: var(--mixin-og0ueuObXuF9N_border-left-width)
    var(--mixin-og0ueuObXuF9N_border-left-style)
    var(--mixin-og0ueuObXuF9N_border-left-color);
}
